.app-container {
  font-family: Arial, sans-serif;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: rgb(146, 55, 67);
  font-weight: bolder;
  color: white;
}
.App_name {
  color: orangered;
  font-size: 70px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.Header a:hover {
  color: rgb(255, 255, 255);
}
.nav-links ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.logo img {
  width: 150px;
  height: 150px;
}
.nav-links:hover {
  cursor: pointer;
}
