@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.res-card {
  padding: 5px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  height: 425px;
  background-color: bisque;
  cursor: pointer;
}
.resto-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
  height: 200px;
}
.filter-container {
  display: flex;
  gap: 25px;
  padding: 10px 10px;
}
.search-container {
  display: flex;
}
.filter-btn {
  cursor: pointer;
}
.res-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.res-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Menu Card css */
.menu-res-info {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
.menu-res-container {
  display: flex;
  background-color: bisque;
  gap: 20px;
  align-items: center;
  padding: 10px 30px;
  border-radius: 15px;
}
.menu-res-img-container img {
  height: 250px;
  width: 300px;
  border-radius: 10px;
}
.menu-res-avgRating {
  color: rgb(52, 218, 52);
  font-weight: bolder;
}
