@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.res-card {
  padding: 5px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  height: 425px;
  background-color: bisque;
  cursor: pointer;
}
.card-link {
  text-decoration: none;
  color: inherit;
}
.resto-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
  height: 200px;
}
.filter-container {
  display: flex;
  gap: 25px;
  padding: 10px 10px;
}
.search-container {
  display: flex;
}
.filter-btn {
  cursor: pointer;
}
.res-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.res_card-avg_rating {
  color: rgb(52, 218, 52);
  font-weight: bolder;
}
.res-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Menu Card css */
/* Center the card */
.menu-res-info {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Fixed-size restaurant card */
.menu-res-container {
  display: flex;
  justify-content: space-between; /* name on left, image on right */
  align-items: center;
  width: 1500px; /* FIXED SIZE */
  min-height: 250px;
  padding: 20px 30px;
  background: bisque;
  border-radius: 15px;
  gap: 20px;
}
.menu-res-img-container img {
  height: 200px;
  width: 250px;
  border-radius: 10px;
}
.menu-res-avgRating {
  color: rgb(52, 218, 52);
  font-weight: bolder;
}
.menu-res-container:hover {
  cursor: default;
}
