.res-card {
  padding: 5px;
  width: 200px;
  margin: 5px;
  height: 425px;
  border: 1px solid black;
}
.resto-container {
  display: flex;
  flex-wrap: wrap;
}
.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
}
