.res-card {
  padding: 5px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  height: 425px;
  background-color: bisque;
  cursor: pointer;
}
.resto-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
}
.btn-container {
  padding: 10px 10px;
}
.filter-btn {
  cursor: pointer;
}
.res-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.res-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
